/* Add CSS Styling */
p {
  font-family: Verdana, sans-serif;
  font-size: 35px;
  font-weight: lighter;
  text-align: left;
  color: black;
  background-color: #ff000080;
}
.pa {
  font-family: Verdana, sans-serif;
  font-size: 55px;
  font-weight: lighter;
  text-align: left;
  color: black;
  background-color: #ff000080;
}
#id1 {
  font-family: 'Times New Roman', Times, sans-serif;
  text-align: left;
  font-size: 60px;
  color: blue;
  background-color: white;
}
#id2 {
  font-family: 'Times New Roman', Times, sans-serif;
  text-align: left;
  font-size: 45px;
  font-weight: bold;
  background-color: #00ff0080;;
}