/* Add CSS Styling */
p {
    /* font-size: 24px; */
    font-family: Verdana, "DejaVu Sans", sans-serif;
    background-color: #ff000080;
    color: black;
}

#id1 {
    font-size: 36px;
    color: blue;
    background: white;
}

.pa {
    font-size: 24px;
}

#id2 {
    background-color: #00ff0080;
    font-weight: bold;
}